<div class="backGround">
    <div class="content">
        <div id="userInfo" *ngIf="isConnected">
            <div *ngIf="user != null">
                <div>{{user.alias}}</div>
                <div>{{user.country}}</div>
                <div>score:{{user.score}}</div>
            </div>
        </div>
        <div>
            <div class="homediv">
                <a routerLink="/metalbirds"><button class="homebtn btn1">PLAY</button></a>
            </div>
            <div class="homediv">
                <a *ngIf="!isConnected" routerLink="/login"><button class="homebtn btn2" (click)="login()">LOGIN</button></a>
                <button class="homebtn btn2" *ngIf="isConnected" (click)="logout()">LOGOUT</button>
            </div>
            <div class="homediv">
                <a *ngIf="isConnected" routerLink="/profile"><button class="homebtn btn2">PROFILE</button></a>
                <a *ngIf="!isConnected" routerLink="/register"><button class="homebtn btn3">REGISTER</button></a>
            </div>
            <div class="homediv">
                <a routerLink="/scores"><button class="homebtn btn4">SCORES</button></a>
            </div>
        </div>
    </div>
</div>
