<div class="backGround">
    <div class="form">
        <div class="returnbtn rpos"><a routerLink="/home">RETURN</a></div>
            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                <!-- <div class="form-elem"><label for="email">EMAIL</label></div> -->
                <div class="form-elem"><input type="email" autocomplete="off" id="email" placeholder="EMAIL" formControlName="email" required></div>
                <!-- <div class="form-elem"><label for="password">PASSWORD</label></div> -->
                <div class="form-elem"><input type="password" autocomplete="off" id="password" placeholder="PASSWORD" formControlName="passwd" required></div>
                <div class="form-elem"><button type="submit" [disabled]="loginForm.invalid">Login</button></div>
            </form>
        <!-- ERROR MESSAGE VALIDATORS -->
        <div class="errValidator">
            <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors">
                <div class="errormsg"><p>{{loginForm.controls['email'].errors['emailRegex']}}</p></div>
            </div>
            <div *ngIf="loginForm.controls['passwd'].touched && loginForm.controls['passwd'].errors">
                <div class="errormsg"><p>{{loginForm.controls['passwd'].errors['passwdRegex']}}</p></div>
            </div>
        </div>
    </div>   
</div>
     <!-- <button class="btn btn-primary">Mon bouton Bootstrap</button> -->
     